In [1]:
import pandas as pd
pd.Series?

In [2]:
# panda stores series values in a typed array using the Numpy library.
# This offers significant speed-up when processing data versus traditional python lists.
animals = ['Tiger', 'Bear', 'Moose']
numbers = [1, 2, 3]
pd.Series(animals)  , pd.Series(numbers)

(0    Tiger
 1     Bear
 2    Moose
 dtype: object,
 0    1
 1    2
 2    3
 dtype: int64)

In [3]:
import numpy as np
# NaN is not None , and you can directly compare with NaN, 

print(np.nan == None)

print(np.nan == np.nan)

# use np.isnan instead to compare nan
print(np.isnan(np.nan))

False
False
True

# Create from Dictionary

In [4]:
 sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
print(s,"\n")

# You could also separate your index creation from the data by passing in the index as a list explicitly to the series
s = pd.Series( ['Tiger', 'Bear', 'Moose'], index= ['India', 'America', 'Canada'] )
print(s)

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

India      Tiger
America     Bear
Canada     Moose
dtype: object

# Querying a Series  iloc, loc

In [5]:
#  A panda.Series can be queried, either by the index position or the index label.
#  -> To query by numeric location, starting at zero, use the iloc attribute.
#  -> To query by the index label, you can use the loc attribute.
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
print(s,"\n")

# iloc by index position
print(s.iloc[3],"\n")

# loc by index label
print(s.loc['Golf'])

# s[index] -> Pandas can't determine automatically whether you're intending to query by index position or index label
# And the safer option is to be more explicit and use the iloc or loc attributes directly

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

South Korea

Scotland

# working with series

In [6]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])  
total = np.sum(s)  #-> it will sum all the elm in series
total

324.0

In [7]:
s = pd.Series(np.random.randint(0,9,5))    # 1: start from  #2: end before  #3: how many numbers   
s.head()  # will show up default (first 5 elm in s)  # custome  s.head(val)
s.tail()  # will show up default (last 5 elm in s)  # custome  s.tail(val)

0    7
1    2
2    4
3    7
4    2
dtype: int32

In [8]:
print(s)
s+=2 #adds two to each item in s using broadcasting
s

0    7
1    2
2    4
3    7
4    2
dtype: int32

0    9
1    4
2    6
3    9
4    4
dtype: int32

In [9]:
''' 
If the value you pass in as the index doesn't exist, then a new entry is added. And keep in mind, indices can have mixed types
While it's important to be aware of the typing going on underneath,Pandas will automatically change the underlying NumPy types
as appropriate. 
'''

s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

# The DataFrame Data Structure

In [10]:
'''
The DataFrame is conceptually a two-dimensional series object
 -> there's an index and multiple columns of content, with each column having a label
 -> We can think of the DataFrame itself as simply a two-axes labeled array.
'''

purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])

df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [11]:
df.loc['Store 1', 'Cost']   #1: which lvl rows       #2:  which column
df.iloc[0:2,2:3]            #1  row from till end+1  #2: column start and end

         Cost
Store 1  22.5
Store 1   2.5

In [12]:
# What if we just wanted to do column selection and just get a list of all of the costs?
df.T  # (transpose) swaps all of the columns and rows.This works, but it's pretty ugly.
df.T.loc['Cost']

# or we can use iloc and fetch all rows and only cost column
df.iloc[:,2:3]

# or we can use loc and can call any row and column we want
df.loc[:,['Name','Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

# let's talk about dropping data

In [13]:
'''
It's easy to delete data in series and DataFrames, and we can use the drop function to do so
The drop function doesn't change the DataFrame by default. And instead, returns to you a copyof the DataFrame
with the given rows removed.
'''
df_copy = df.drop('Store 1') # won't change df
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [14]:
df_copy 
# to change it in place we can use  df = df.drop('Store 1')

# deleting a column 
del df_copy['Cost']

# df_copy

# add a column 
df['Location'] = None
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  22.5     None
Store 1  Kevyn   Kitty Litter   2.5     None
Store 2  Vinod      Bird Seed   5.0     None

# Dataframe Indexing and Loading

In [15]:
'''
The common work flow is to read your data into a DataFrame then reduce this DataFrame to the particular columns or rows
that you're interested in working with.
'''

# // read csv
df = pd.read_csv('olympics.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'olympics.csv'

In [ ]:
df = pd.read_csv('./csvFiles/olympics.csv', index_col = 0, skiprows=1) #index_col which col to skip  #skiprows how many rows to skip
df.head()

In [ ]:
df.columns

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True)

df.head()

# Querying a DataFrame

In [ ]:
# // first step, create a boolean mask
df['Gold'] > 0

# then , use `where` function to apply boolean mask to dataframe
only_gold = df.where(df['Gold'] > 0)   # or   
only_gold = df[df['Gold'] > 0]
only_gold.head()

In [ ]:
only_gold['Gold'].count()  , df['Gold'].count()
# it means there are 47 nations didn't got gold in olympics

# Drop Data

In [ ]:
# Often we want to drop those rows which have no data. 
only_gold = only_gold.dropna()
only_gold

In [ ]:
# total country who won gold atleast once in total rounds
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

# total country who won gold in 2 round but not in first
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

# Indexing Dataframes

In [ ]:
df['country'] = df.index  
df = df.set_index('Gold')
df.head()